<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
  <head>
    <meta charset="utf-8" />
    <title>Vijay's App</title>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1258831724" type="text/javascript" charset="utf-8"></script>
    <script>
        WB2.anyWhere(function(W){
            W.widget.connectButton({
                id: "wb_connect_btn",
                type:"3,2",
                callback : {
                    login:function(o){	//登录后的回调函数
                    },
                    logout:function(){	//退出后的回调函数
                    }
                }
            });
        });

        WB2.anyWhere(function(W){
            W.parseCMD("/users/show.json", function(sResult, bStatus){
                try{
                    //to do something...
                }catch(e){}
            },{
                uid: '2552580710'
            },{
                method: 'get'
            });
        });
    </script>
  </head>
<body>
<div id="wb_connect_btn"></div>
<wb:share-button type="button" size="middle"> </wb:share-button>
</body>
</html>
